.top-form{
-fx-background-color: #fff;
-fx-border-color:#000;
-fx-border-width: .2px .2px .5px .2px;
}
.semiTop-form{
-fx-border-color:#000;
-fx-border-width: 0px 0px .5px 0px;
}
.close-btn{
-fx-background-color: transparent;
-fx-cursor: hand;
}
.close-btn:hover{
-fx-background-color:#f13f57;
}

.minimize-btn{
-fx-background-color: transparent;
-fx-cursor: hand;
}
.minimize-btn:hover{
-fx-background-color: #ddd;
}
.bars{
    -fx-background-color: transparent;
    -fx-cursor: hand;

}

.bars:hover{
    -fx-background-color: #d6d6d6;
    -fx-background-radius: 5px;
}

.nav-form{
-fx-background-color: linear-gradient(to bottom right, #252d50,#324f6b);
}
.edit-btn{
-fx-background-color: transparent;
-fx-cursor: hand;
}

.nav-btn{
-fx-background-color: linear-gradient(to bottom right, #344275,#3a6389);
-fx-background-radius: 10px;
-fx-cursor: hand;
-fx-font-size: 15px;
-fx-text-fill: #fff;
-fx-font-family: "Microsoft Sans Serif";
}

.nav-btn:hover{
-fx-background-color: linear-gradient(to bottom right, #46589a,#4278a7);
-fx-background-radius: 15px;
}
.logout-btn{
-fx-background-color: #366d9d;
-fx-background-radius: 10px;
}
.logout-btn:hover{
-fx-background-color: #396fc6;
-fx-background-radius: 10px;
}

.card-form{
-fx-background-color: #f8f8f8;
-fx-border-color: #454368;
-fx-border-radius: 10px;
-fx-background-radius: 10px;
}

.image-card{
-fx-background-color: #fff;
-fx-border-color: #000;
}

.save-btn{
-fx-background-color: #558e74;
-fx-background-radius: 15px;
-fx-font-size: 15px;
-fx-text-fill: #fff;
-fx-cursor: hand;
}

.save-btn:hover{
-fx-background-color: #57b107;
}

.take-btn{
-fx-background-color: #914f96;
-fx-background-radius: 15px;
-fx-font-size: 15px;
-fx-text-fill: #fff;
-fx-cursor: hand;
}

.take-btn:hover{
-fx-background-color: #b356bb;
}